.about {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--header-height);
}

.about h1 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--text-color);
}

.separator {
  margin-top: 2rem;
}

.about p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 100;
  color: var(--text-color);
}

.about ul {
  margin-top: 1rem;
  list-style: none;
}

.about li {
  color: var(--text-color);
  margin-top: 0.3rem;
}
