.about {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 2rem;
}

.about p {
  font-size: 2rem;
  font-weight: 300;
  color: var(--paragraph-color);
  text-align: justify;
}

.wrapper {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.githubLink {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 0.5rem;
  color: #fff;
  transition: opacity 0.7s;
}

.githubLink:hover {
  text-shadow: 0 0 3px rgb(223, 196, 205);
}

@media (max-width: 960px) {
  .about h1 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1.5rem;
  }

  .githubLink {
    font-size: 2rem;
  }
}
