.portafolio {
  width: 600px;
  padding: 12px;
  border-radius: var(--border-radius);
  background: var(--portafolio-color);
  transform: rotateY(40deg);
  z-index: 1;
}

.portafolio:first-child {
  margin-left: 0;
}

.portafolio:hover {
  border-color: #6c646e;
}

.portafolio img {
  width: 100%;
  height: 250px;
  border-radius: var(--border-radius);
  border: 1px solid var(--background-page);
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.portafolioText {
  width: 75%;
  height: 100%;
  background: var(--background-page);
  border-radius: var(--border-radius);
  padding: 1rem 2rem;
}

.portafolioText h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
  transition: transform 0.2s;
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.techs {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.techs li {
  font-size: 0.9rem;
  margin-right: 0.7rem;
  color: var(--paragraph-color);
  border-radius: 4px;
}

.techs li:last-of-type {
  margin-right: 0;
}

.projectsLinks {
  width: 20%;
  padding: 1.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--background-page);
  border-radius: var(--border-radius);
}

.projectsLinks a {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--text-color);
  text-decoration: none;
  margin-top: 0.5rem;
}

.projectsLinks a:first-of-type {
  margin-top: 0;
}

.projectsLinks a:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

@media (max-width: 960px) {
  .portafolioContainer {
    display: block;
  }

  .portafolio {
    transform: none;
    margin-top: 1rem;
  }
}
