.header {
  width: var(--header-width);
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  position: relative;
}

.logo {
  color: var(--text-color);
  font-size: 3rem;
  font-weight: 700;
}
