.portafolioContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.portafolio {
  width: 300px;
  height: 300px;
  padding: 7px;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  transition: background-color, left 0.2s;
  z-index: 1;
  position: relative;
}

.portafolio:hover {
  border-color: #6c646e;
}

.portafolio img {
  width: 100%;
  height: 180px;
  border-radius: var(--border-radius);
  box-shadow: 0 0 12px 0px #887b8bc4;
}

.portafolioText {
  width: 100%;
  padding: 0.5rem 0.7rem 0rem 0.7rem;
}

.portafolioText h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
  transition: transform 0.2s;
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.techs {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.techs li {
  font-size: 0.77rem;
  margin-right: 0.7rem;
  color: var(--text-color);
  border-radius: 4px;
}

.techs li:last-of-type {
  margin-right: 0;
}

.projectsLinks {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.projectsLinks a {
  font-size: 0.8rem;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  margin-top: 0.5rem;
}

.projectsLinks a:first-of-type {
  margin-top: 0;
}

.projectsLinks a:hover {
  text-shadow: 0 0 7px #fff;
  text-decoration: underline;
}

@media (max-width: 960px) {
  .portafolioContainer {
    display: block;
  }

  .portafolio {
    transform: none;
    margin-top: 1rem;
  }
}
