.portafolioContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.portafolio {
  width: 300px;
  height: 300px;
  padding: 7px;
  border-radius: var(--border-radius);
  transition: background-color, left 0.2s;
  z-index: 1;
  position: relative;
}

.portafolio:hover .menu {
  display: flex;
}

.mobileTouch {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  opacity: 0;
}

.mobileTouch:checked ~ .menu {
  display: flex;
}

.portafolio img {
  width: 100%;
  height: 180px;
  border-radius: var(--border-radius);
}

.portafolioText {
  width: 100%;
  padding: 0.5rem 0.7rem 0rem 0.7rem;
}

.portafolioText h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
  transition: transform 0.2s;
}

.portafolioText ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 0.7rem;
  padding-bottom: 0.3rem;
}

.portafolioText li {
  font-size: 0.9rem;
  margin-right: 0.3rem;
  color: var(--text-color);
  border-radius: 4px;
  padding: 0px 5px;
}

.portafolioText li:last-of-type {
  margin-right: 0;
}

.portafolioMessage {
  position: fixed;
  bottom: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 3.3rem;
  font-weight: 900;
  color: #635766;
  z-index: 0;
}

.menu {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  background-color: #615564dc;
}

.menu a {
  width: 100%;
  height: 50%;
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.menu a:hover {
  text-shadow: 0 0 7px #fff;
}

@media (max-width: 960px) {
  .portafolioContainer {
    display: block;
  }

  .portafolio {
    transform: none;
    margin-top: 1rem;
  }

  .mobileTouch {
    display: block;
  }

  .portafolioMessage {
    display: none;
  }
}
