.nav {
  background-color: rgba(255, 255, 255, 0.01);
  padding: 0.3rem 0.9rem;
  position: absolute;
  display: flex;
  list-style: none;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--border-radius);
}

.navItem button {
  width: 70px;
  height: 12px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 1s all;
  background-color: var(--button-color);
  margin-left: 1.2rem;
}

.navItem:first-of-type button {
  margin-left: 0;
}

.navItem button:disabled {
  opacity: 0.3;
  cursor: default;
}
